<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/equal_icon"
        android:label="计算器"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIUI_alculator"
        tools:targetApi="31">
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CapitalizationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpeedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TemperatureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TimeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VolumeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BinaryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TaxActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AreaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WeightActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LengthActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RateActivity"
            android:exported="false"
            android:label="@string/title_activity_rate"
            android:theme="@style/Theme.MIUI_alculator.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>